<form action="/users/signup" method="POST">
   <label>
       Name
       <input type="text" aria-placeholder="Name" name="name">
   </label>
   <label>
       Email
       <input type="text" aria-placeholder="Email" name="email">
   </label>
   <label>
       Password
       <input type="password" aria-placeholder="Password" name="password">
   </label>
   <label>
       City
       <input type="text" aria-placeholder="City" name="city">
   </label>
   <label>
       State
       <input type="test" aria-placeholder="State" name="state">
   </label>
   <button type="submit">Create My Account</button>
</form>