<section>
        <form action="/wineries/addwinery" method="POST">
            <label>
                Name
                <input type="text" name="name" aria-placeholder="Winery Name"/>
            </label>
            <br>
            <label>
                Street Address
                    <input type="text" name="address" aria-placeholder="Street Address"/>
            </label>
            <label>
                Street Name
                    <input type="text" name="street" aria-placeholder="Street Name"/>
            </label>
            <br>
                <label>
                    City
                        <input type="text" name="city" aria-placeholder="City Name"/>
                </label>
            <label>
                    State
                        <input type="text" name="state" aria-placeholder="State"/>
            </label>
            <label>
                    Zip Code
                        <input type="text" name="zip" aria-placeholder="Zip Code"/>
            </label>
            <br>
            <label>
                    Featured Wine
                        <input type="text" name="primary_vine" aria-placeholder="Zip Code"/>
            </label>
            <button type="submit">Add New Winery</button>
        </form>
    
    </section>