body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


body, html {
  height: 100%;
  margin: 0;
}



 .bg {
  background-image: url("/images/fruits-grapes-grapevines-45209.jpg");
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}